$screen-lg-min: 992px;

:host {
  @mixin mobile {
    @media (min-width: #{$screen-lg-min}) {
      @content;
    }
  }
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 200;
  display: flex;
  gap: 0;

  @include mobile {
    gap: 72px;
  }
  .timestamp {
    width: 100px;


  }
}
